.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.slide-from-right-short {
	/* position: relative; */
	-webkit-animation-duration: .4s;
	   -moz-animation-duration: .4s;
	    -ms-animation-duration: .4s;
	        animation-duration: .4s;
	-webkit-animation-name: slideFromRightShort;
	   -moz-animation-name: slideFromRightShort;
	    -ms-animation-name: slideFromRightShort;
	        animation-name: slideFromRightShort;
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	    -ms-animation-timing-function: linear;
		    animation-timing-function: linear;
}
@-webkit-keyframes slideFromRightShort {
	0%  { transform: translateX(-100vw); }
	100% { transform: translateX(0vw); }
}
@-moz-keyframes slideFromRightShort {
	0%  { transform: translateX(-100vw); }
	100% { transform: translateX(0vw); }
}
@-ms-keyframes slideFromRightShort {
	0%  { transform: translateX(-100vw); }
	100% { transform: translateX(0vw); }
}
@keyframes slideFromRightShort {
	0%  { transform: translateX(-100vw); }
	100% { transform: translateX(0vw); }
}

body {
  background-color: #fff;;
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  height: 40px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  color: #0D47A1;
}

.google-button {
  display: inline-block!important;
  width: 40%!important;
}

input, textarea {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  padding: 2px 5px;
  width: 100%;
  line-height: 2em;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  resize: none;
}

input:focus, textarea:focus {
  border: none;
  outline-width: 1px;
  outline-offset: 0;
  outline-style: none;
}

.p-1 {
  padding: 10px;
}

textarea {
  border-color: #ddd;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bpb-1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2%;
}

.cnt {
  text-align: center;
}

.mb-1 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.abs {
  position: absolute;
  width: 100%;
}

.rel {
  position: relative;
}

.wrapper {
  overflow: auto;
  padding: 10px;
  position: relative;
}

/************************** Typography ***************************/
h1 {
  font-weight: lighter;
}

a:hover {
  color: inherit;
}

.action {
  color: #2196F3;
}

.cancel {
  color: #D32F2F;
}

.action:hover {
  cursor: pointer;
}

.muted {
  color: #999;
}

.sm {
  font-size: .8em;
}

/************************** Header ***************************/
.header {
  background-color: #0D47A1;
  box-shadow: 0 2px 2px  #aaa;
  color: #fff;
  font-size: 1.25em;
  padding: 15px;
  position: relative;
  text-align: center;
}

.form-header {
  font-size: 1.25em;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/************************** Material Icons ***************************/
.material-icons.left {
  position: absolute;
  left: 5%;
  top: 30%;
}

.material-icons.right {
  position: absolute;
  right: 20px;
  top: 30%;
}

.material-icons.br {
  position: fixed;
  bottom: 30px;;
  right: 20px;
}

.material-icons.create-new {
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
  color: #303F9F;
  font-size: 60px;
}

.material-icons.drop-down {
  top: 6px;
  position: relative;
  display: inline-block;
}



/************************** Projects ***************************/
.project-preview {
  border-bottom : 1px solid #ddd;
  margin: 0;
  padding: 2%;
}

.project-preview .name {
  font-size: 1.5em;
  font-weight: lighter;
  margin-left: 15%;
}

.create-new-project input {
  margin-bottom: 10px;
}



/************************** Project ***************************/
.project-tasks a {
  color: #000;
}

.project-tasks a:hover {
  text-decoration: none;
}

.no-tasks {
  padding: 20% 0;
  text-align: center;
}

.no-tasks .material-icons {
  font-size: 72px;
}

.task-preview {
  border-bottom: 1px solid #ddd;
}

.task-preview .task-title {
  font-size: 1.25em;
}

.task-preview .task-description {
  max-height: 48px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description-preview,
.task-details-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************************** ProjectNew ***************************/




/************************** Menus ***************************/
.mask {
  display: none;
  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
   -ms-animation-duration: .6s;
       animation-duration: .6s;
}

.mask.visible {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
}

.select {
  position: relative;
}

.select .menu {
  position: absolute;
}

#main-menu {
  display: none;
  transition: width 2s;
  width: 0;
}

#main-menu img {
  border-radius: 50%;
  margin-left: 20px;
  position: absolute;
  top: 5px;
  right: 15px;
}

#main-menu .user-info {
  line-height: 20px;
}

li.user-info {
  background-color: #eee!important;
}

#main-menu.visible {
  left: 0;
  width: 0;
}

#main-menu.visible {
  display: block;
  position: absolute;
  width: 60%;
  z-index: 2;
}

.user-menu {
  background: #fff;
  bottom: -10px;
  right: 0;
  position: absolute;
  z-index: 9999;
}

.project-header {
  border-bottom: 1px solid #ddd;
  position: relative;
  text-align: center;
}

/********************* Menu**********************/

.menu {
  background: #fff;
  border: 1px solid #ddd;
  overflow: scroll;
  z-index: 1;
}

.menu ul {
  border-bottom: 1px solid #eee;
  list-style: none;
  padding: 0;
}

.menu li {
  background-color: #fff;
  padding: 10px;
  min-width: 200px;
  /* padding-left: 5%; */
}

.menu li:hover {
  cursor: pointer;
}

.menu .active,
.menu li:hover {
  background-color: #eee;
}

li.user-info:hover {
  background-color: #fff;
}

.task-assignee-status {
  position: relative;
}

.status-select .menu {
  position: absolute;
  right: 0;
}

.user-selct .menu {
  position: absolute;
}

/********************* Task *********************/
.task {
  clear: both;
}

.task-activity-item {
  border-bottom: 1px solid #eee;
}

.task-header {
  border-bottom: 1px solid #eee;
  padding: 2%;
  position: relative;
}

.task .task-list-name {
  vertical-align: top;
}

.task .task-title {
  margin-bottom: 10px;
}

.task-assignee {
  left: 0;
  bottom: 8px;
}

.task-title input {
  font-size: 1.25em;
  margin-bottom: 20px;
}

.task input:not(:focus),
.task textarea:not(:focus) {
  border: 2px solid #fff;
  padding-left: none;
}

.task-status {
  position: absolute;
  right: 0;
  bottom: 8px;
}

.task-preview .task-status {
  bottom: 0px;
}

.section-label {
  font-family: "Arial";
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2%;
}

/*/********************* New Task /**********************/

.new-task input {
  margin-bottom: 2%;
}

.select-project-name {
  display: inline-block;
  margin-bottom: 2%;
  padding: 2px;
}

































