.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.slide-from-right-short {
	position: relative;
	-webkit-animation-duration: .6s;
	   -moz-animation-duration: .6s;
	    -ms-animation-duration: .6s;
	        animation-duration: .6s;
	-webkit-animation-name: slideFromRightShort;
	   -moz-animation-name: slideFromRightShort;
	    -ms-animation-name: slideFromRightShort;
	        animation-name: slideFromRightShort;
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	    -ms-animation-timing-function: linear;
		    animation-timing-function: linear;
}
@-webkit-keyframes slideFromRightShort {
	0%  { transform: translateX(100vw);  opacity: .2; }
	100% { transform: translateX(0vw);    opacity: 1; }
}
@-moz-keyframes slideFromRightShort {
	0%  { transform: translateX(100vw);  opacity: .2; }
	100% { transform: translateX(0vw);    opacity: 1; }
}
@-ms-keyframes slideFromRightShort {
	0%  { transform: translateX(100vw);  opacity: .2; }
	100% { transform: translateX(0vw);    opacity: 1; }
}
@keyframes slideFromRightShort {
	0%  { transform: translateX(100vw);  opacity: .2; }
	100% { transform: translateX(0vw);    opacity: 1; }
}

body {
  background-color: #fff;;
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  height: 40px;
  /* width: 100px; */
  padding: 5px 10px;
}

input {
  box-sizing: border-box;
  font-size: 1em;
  padding: 2px 5px;
  margin-bottom: 10px;
  width: 100%;
  line-height: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bpb-1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2%;
}

.action:hover {
  cursor: pointer;
}
.mb-1 {
  margin-bottom: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.rel {
  position: relative;
}
.wrapper {
  overflow: auto;
  padding: 10px;
  position: relative;
}

/************************** Typography ***************************/
a:hover {
  color: inherit;
}

.muted {
  color: #999;
}
.text-info:hover {
  color: #999;
  cursor: pointer;
  text-decoration: underline;
}

.sm {
  font-size: .8em;
}

/************************** Header ***************************/
.header {
  background-color: #0D47A1;
  box-shadow: 0 2px 2px  #aaa;
  color: #fff;
  font-size: 1.25em;
  padding: 15px;
  position: relative;
  text-align: center;
}

.form-header {
  font-size: 1.25em;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/************************** Material Icons ***************************/
.material-icons.left {
  position: absolute;
  left: 5%;
  top: 30%;
}

.material-icons.right {
  position: absolute;
  right: 20px;
  top: 30%;
}

.material-icons.br {
  position: fixed;
  bottom: 30px;;
  right: 20px;
}

.material-icons.create-new {
  background-color: #fff;
  border-radius: 50%;
  color: #303F9F;
  font-size: 60px;
}



/************************** Projects ***************************/
.project-preview {
  border-bottom : 1px solid #ddd;
  margin: 0;
  padding: 2%;
}

.project-preview .name {
  font-size: 1.5em;
  font-weight: lighter;
  margin-left: 15%;
}



/************************** Project ***************************/
.project-tasks a {
  color: #000;
}

.project-tasks a:hover {
  text-decoration: none;
}

.task-preview {
  border-bottom: 1px solid #ddd;
}

.task-preview .task-title {
  font-size: 1.25em;
}

.task-preview .task-description {
  height: 48px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description-preview,
.task-details-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************************** ProjectNew ***************************/




/************************** Menus ***************************/
.select {
  position: relative;
}
.select .menu {
  position: absolute;
}
.main-menu {
  position: absolute;
}

.user-menu {
  background: #fff;
  bottom: -10px;
  right: 0;
  position: absolute;
  z-index: 9999;
}

.view,
.task,
.new-task {
  background-color: #fff;
  border: 1px solid #999;
}

h2.project-name {
  display: inline-block;
  font-weight: 300;
  font-size: 2em;
  margin: 0;
  padding: 5px;
}

.project-header {
  border-bottom: 1px solid #ddd;
  position: relative;
  text-align: center;
}

.labels-container {
  display: inline-block;
}

.task-label {
  border-radius: 7px;
  color: #fff;
  display: inline-block;
  font-size: .7em;
  margin-left: 1%;
  padding: 2px 6px;
}

.task-label.red {
  background-color: red;
}

.task-label.green {
  background-color: green;
}

.task-label.blue {
  background-color: #f2d600;
}

.glyphicon-menu-hamburger {
  float:left;
}

.task-id,
.task-status,
.project-header .glyphicon-plus {
  float: right;
}



/********************* Menu**********************/

.menu {
  background: #fff;
  border: 1px solid #000;
  overflow: scroll;
  z-index: 1;
}

.menu-section-header {
  font-weight: 300;
  padding: 2%;
}

.menu ul {
  border-bottom: 1px solid #eee;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  padding-left: 5%;
}

.menu li:hover {
  cursor: pointer;
}

.menu .active,
.menu li:hover {
  background-color: #eee;
  font-weight: bold;
}

.task-assignee-status {
  position: relative;
}

.status-select .menu {
  position: absolute;
  right: 0;
  width: 30%;
}

/********************* Task *********************/
.task {
  background-color: rgb(255, 252, 229);
  clear: both;
}
.task .glyphicon-edit {
  margin-left: 2%;
}

.task-activity-item {
  border-bottom: 1px solid #eee;
}

.task-header {
  border-bottom: 1px solid #eee;
  padding: 2%;
  position: relative;
}

.task .task-list-name {
  vertical-align: top;
}

.task input:not(:focus),
.task textarea:not(:focus) {
  background-color: rgb(255, 252, 229);
  border: 2px solid rgb(255, 252, 229);
  padding-left: none;
}

.task textarea {
  resize: none;
}

.section-label {
  font-family: "Arial";
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2%;
}

/*/********************* New Task /**********************/
.new-task {
  clear: both;
  padding: 2%;
}

.new-task input {
  margin-bottom: 2%;
}

































